.profile__button-edit {
  width: 24px;
  height: 24px;
  background: #000;
  border: 1px solid #fff;
  align-self: flex-end;
  cursor: pointer;
  background-image: url(../../../images/icons/pensel.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 833.98px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}
