.galery__grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  column-gap: 17px;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
