.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: black;
  max-width: 430px;
  height: auto;
  padding: 34px 36px 36.5px;
  box-sizing: border-box;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 767.98px) {
  .popup__container {
    padding: 25px 22px;
  }
}
