.profile__about {
  max-width: 350px;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing:content-box;
}

@media screen and (max-width: 833.98px) {
  .profile__about {
    max-width: 520px;
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
    margin: 14px 0 0;
  }
}
