.profile {
  max-width: 880px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

@media screen and (max-width: 1023.98px) {
  .profile {
    padding: 42px 72px 0;
    margin: 0;
  }
}

@media screen and (max-width: 858.98px) {
  .profile {
    padding: 42px 19px 0;
    flex-direction: column;
    align-items: center;
  }
}
