.galery__button-heart {
  background: #fff;
  border: none;
  width: 22px;
  height: 24px;
  cursor: pointer;
  background-image: url("../../../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: top;
  align-self: flex-end;
  margin-right: 21px;
}

.galery__button-heart:hover {
  opacity: 0.6;
}
