.profile__name {
  max-width: 400px;
  display: inline-block;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width: 899.98px) {
  .profile__name {
  max-width: 350px;
  }
}


@media screen and (max-width: 858.98px) {
  .profile__name {
    text-align: center;
    max-width: 400px;
    font-size: 27px;
    line-height: 32.68px;
    margin: 0 10px 0 0;
    padding-left: 25px;
  }
}

@media screen and (max-width: 517.98px) {
  .profile__name {
    max-width: 215px;
  }
}
