.root {
  background-color: #000;
  font-family: inter, Arial, sans-serif;
  font-size: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
}
