.popup__image{
  display: block;
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
  box-sizing: border-box;
}

@media screen and (max-width: 617.98px) {
  .popup__image{
    align-self: flex-start;
    width: 240px;
    height: 299px;
    object-fit:cover;
  }
}
