.profile__button-add {
  min-width: 150px;
  max-height: 50px;
  color: #fff;
  background-color: #000;
  font-size: 22px;
  border: 2px solid #fff;
  padding: 14px 0;
  cursor: pointer;
}

.profile__button-add:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767.98px) {
  .profile__button-add {
    width: 282px;
  }
}
