.profile__info {
  display: flex;
  max-width: calc(880px - 150px - 120px);
  align-items: center;
}

@media screen and (max-width: 858.98px) {
  .profile__info {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}



